{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Diary Entries</h1>
<ul class="list-group list-group-flush" id="entries">
    {% for e in user.posts %}
    <li class="list-group-item">{{ e.entry }}
        <button type="button" class="close" onClick="deleteEntry({{ e.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="entry" id="entry" class="form-control" rows="5"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Entry</button>
    </div>
</form>
{% endblock %}